@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.Duende.IdentityServer.STS.Identity.Configuration.Interfaces
@using Skoruba.Duende.IdentityServer.STS.Identity.Helpers.Localization
@inject IViewLocalizer Localizer
@model Skoruba.Duende.IdentityServer.STS.Identity.ViewModels.Account.LoginViewModel
@inject IRootConfiguration RootConfiguration
@{
    Layout = "_LayoutBlackTheme";
}
<div class="login-page">
    @await Html.PartialAsync("_ValidationSummary")
    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6 offset-sm-3">
                <div class="card mt-3">
                    <div class="navbar__logo text-center">
                        <img src="~/images/cardanobi_logo_full_white.png" alt="CardanoBI">
                    </div>
                    <div class="card-body">
                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <fieldset>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="input-username">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                            <input class="form-control" placeholder="@Localizer[LoginPolicyResolutionLocalizer.GetUserNameLocalizationKey(Model.LoginResolutionPolicy)]" asp-for="Username" aria-label="Username" aria-describedby="input-username" autofocus>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="input-password">
                                                    <span class="oi oi-lock-locked" title="Lock" aria-hidden="true"></span>
                                                </span>
                                            </div>
                                            <input type="password" class="form-control" placeholder="@Localizer["Password"]" aria-label="Password" aria-describedby="input-password" asp-for="Password" autocomplete="off">
                                        </div>
                                    </div>
                                </div>

                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group login-remember row">
                                        <div class="col-sm-9 cls-inline-flex">
                                            <toggle-button>
                                                <input asp-for="RememberLogin" type="checkbox">
                                            </toggle-button>
                                            <div class="pl-2 mt-1">
                                                @Localizer["Remember"]
                                            </div>
                                        </div>
                                    </div>
                                }


                                <div class="form-group row">
                                    <div class="col-sm-12 ">
                                        <button class="btn btn-primary btn-block" name="button" value="login">@Localizer["Login"]</button>
                                        @if (Model.VisibleExternalProviders.Any())
                                        {
                                            @foreach (var provider in Model.VisibleExternalProviders)
                                            {
                                                <a class="btn btn-primary btn-block"
                                       asp-action="ExternalLogin"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                                    @provider.DisplayName
                                                </a>
                                            }
                                        }

                                        <div class="text-center mt-3">
                                            <div class="">
                                                <span class="helper-text m-b-10">
                                                    <i class="fa fa-lock"></i>
                                                    <a asp-action="ForgotPassword" asp-controller="Account" class="cls-link" value="forgot">@Localizer["Forgot"]</a>
                                                </span>

                                            </div>
                                            @if (RootConfiguration.RegisterConfiguration.Enabled)
                                            {
                                                <div class="">
                                                    <span>
                                                        Don't have an account?
                                                        <a asp-action="Register" asp-controller="Account" class="cls-link" value="forgot">@Localizer["Register"]</a>
                                                    </span>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>


                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>@Localizer["InvalidRequest"]</strong>
                @Localizer["NoSchema"]
            </div>
        }
    </div>
</div>